In [393]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [394]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
988,tt1772341,165000000,471222889,Wreck-It Ralph,John C. Reilly|Sarah Silverman|Jane Lynch|Jack...,Rich Moore,The story of a regular guy just looking for a ...,"Wreck-It Ralph is the 9-foot-tall, 643-pound v...",108,Family|Animation|Comedy|Adventure,Walt Disney Animation Studios,11/1/2012,7.0,2012
1619,tt0368008,80000000,96105964,The Manchurian Candidate,Denzel Washington|Meryl Streep|Liev Schreiber|...,Jonathan Demme,This summer everything is under control.,When his army unit was ambushed during the fir...,129,Drama|Thriller|Mystery,Paramount Pictures|Scott Rudin Productions|Cli...,7/30/2004,6.1,2004
783,tt0770703,20000000,30426096,What's Your Number?,Chris Evans|Anna Faris|Martin Freeman|Chris Pr...,Mark Mylod,Ally's looking for the best ex of her life.,Ally Darling (Anna Faris) is realizing she's a...,106,Comedy|Romance,Regency Enterprises|Contrafilm|New Regency Pic...,9/30/2011,6.2,2011
1431,tt0355702,25000000,13411957,Lords of Dogtown,Emile Hirsch|Victor Rasuk|Rebecca De Mornay|Jo...,Catherine Hardwicke,"They never thought they'd be famous, but they ...",The film follows the surf and skateboarding tr...,107,Drama,Columbia Pictures|TriStar Pictures,6/3/2005,6.9,2005
1551,tt0421206,30000000,41480851,Gridiron Gang,Dwayne Johnson|Xzibit|L. Scott Caldwell|Leon R...,Phil Joanou,One goal. A second chance.,"Teenagers at a juvenile detention center, unde...",125,Action|Adventure|Crime|Drama,Columbia Pictures,9/15/2006,6.5,2006

In [395]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [426]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

def split(movies, field):
    result = movies.copy()
    result[field] = result[field].str.split('|')
    result = result.explode(field)
    return result

def normalise_genres(movies):
    result = movies.copy()
    result['genres'] = result.genres.str.split('|')
    result = result.explode('genres')
    return result

def normalise_actors(movies):
    result = movies.copy()
    result['cast'] = result.cast.str.split('|')
    result = result.explode('cast')
    return result

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [397]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [398]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [399]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], ascending=False).head(1)['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [400]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

ВАРИАНТ 1

In [401]:
data[data.runtime == data.runtime.max()]['original_title'].iloc[0]

'Gods and Generals'

ВАРИАНТ 2

In [402]:
data.sort_values(by=['runtime'], ascending=False).head(1)['original_title'].iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

ВАРИАНТ 1

In [403]:
answers['3'] = data[data.runtime == data.runtime.min()]['original_title'].iloc[0]

ВАРИАНТ 2

In [404]:
answers['3'] = data.sort_values(by=['runtime']).head(1)['original_title'].iloc[0]

# 4. Какова средняя длительность фильмов?

In [405]:
answers['4'] = round(data.runtime.mean(), 0)

# 5. Каково медианное значение длительности фильмов?

In [406]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [407]:
answers['6'] = data[data.profit == data.profit.max()]['original_title'].iloc[0]

# 7. Какой фильм самый убыточный?

In [408]:
answers['7'] = data[data.profit == data.profit.min()]['original_title'].iloc[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [409]:
answers['8'] = len(data[data.profit > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [410]:
filtered_data = data[data.release_year == 2008]
answers['9'] = filtered_data[filtered_data.revenue == filtered_data.revenue.max()]['original_title'].iloc[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [411]:
filtered_data = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
answers['10'] = filtered_data[filtered_data.profit == filtered_data.profit.min()]['original_title'].iloc[0]

# 11. Какого жанра фильмов больше всего?

In [412]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11 = normalise_genres(data)
answers['11'] = data11.genres.value_counts().head(1).index[0]

ВАРИАНТ 2

In [413]:
data11 = normalise_genres(data)
answers['11'] = data11.groupby('genres').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [414]:
data12 = normalise_genres(data)
answers['12'] = data12.query('profit > 0').groupby('genres').count()['imdb_id'].sort_values(ascending=False).index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [415]:
answers['13'] = data.groupby('director')['revenue'].sum().reset_index().sort_values(by=['revenue'], ascending=False).head(1).director.iloc[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [428]:
data14 = split(split(data, 'genres'), 'director')
answers['14'] = data14[data14.genres == 'Action'].groupby('director')['imdb_id'].count().sort_values(ascending=False).index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [418]:
data15 = normalise_actors(data)
answers['15'] = data15[data15.release_year == 2012].groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [419]:
data16 = normalise_actors(data)
answers['16'] = data16[data16.budget > data16.budget.mean()].groupby('cast').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [422]:
data17 = normalise_actors(normalise_genres(data))
answers['17'] = data17[data17.cast == 'Nicolas Cage'].groupby('genres').count().sort_values(by=['imdb_id'], ascending=False).index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)