In [127]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [128]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1861,tt0184858,42000000,32168970,Reindeer Games,Ben Affleck|Gary Sinise|Charlize Theron|Dennis...,John Frankenheimer,The trap is set. The game is on.,After assuming his dead cellmate's identity to...,124,Thriller,Dimension Films|Marty Katz Productions,2/25/2000,5.2,2000
1091,tt0181852,200000000,435000000,Terminator 3: Rise of the Machines,Arnold Schwarzenegger|Nick Stahl|Claire Danes|...,Jonathan Mostow,The Machines Will Rise.,It's been 10 years since John Connor saved Ear...,109,Action|Thriller|Science Fiction,Columbia Pictures|Intermedia Films|Warner Bros...,7/2/2003,5.8,2003
927,tt0287717,38000000,119723358,Spy Kids 2: Island of Lost Dreams,Antonio Banderas|Carla Gugino|Alexa PenaVega|D...,Robert Rodriguez,Little Spies. Big Attitudes,Exploring the further adventures of Carmen and...,100,Action|Adventure|Comedy|Family,Dimension Films,8/7/2002,5.2,2002
542,tt0164334,60000000,105178561,Along Came a Spider,Morgan Freeman|Monica Potter|Michael Wincott|D...,Lee Tamahori,The game is far from over.,When a teacher kidnaps a girl from a prestigio...,104,Crime|Mystery|Thriller|Action,Paramount Pictures|AZL Productions KG|David Br...,4/6/2001,5.8,2001
1564,tt0332280,29000000,115603229,The Notebook,Rachel McAdams|Ryan Gosling|Gena Rowlands|Jame...,Nick Cassavetes,Behind every great love is a great story.,An epic love story centered around an older ma...,123,Romance|Drama,New Line Cinema,6/25/2004,7.5,2004

In [129]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [130]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

def split(movies, field):
    result = movies.copy()
    result[field] = result[field].str.split('|')
    result = result.explode(field)
    return result

def normalise_genres(movies):
    return split(movies, 'genres')

def normalise_actors(movies):
    return split(movies, 'cast')

def normalise_directors(movies):
    return split(movies, 'director')

def normalise_production_companies(movies):
    return split(movies, 'production_companies')

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['release_date']  = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [131]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [132]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [133]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], ascending=False).head(1)['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [134]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

ВАРИАНТ 1

In [135]:
data[data.runtime == data.runtime.max()]['original_title'].iloc[0]

'Gods and Generals'

ВАРИАНТ 2

In [136]:
data.sort_values(by=['runtime'], ascending=False).head(1)['original_title'].iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [137]:
answers['3'] = data[data.runtime == data.runtime.min()]['original_title'].iloc[0]

# 4. Какова средняя длительность фильмов?

In [138]:
answers['4'] = round(data.runtime.mean(), 0)

# 5. Каково медианное значение длительности фильмов?

In [139]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [140]:
answers['6'] = data[data.profit == data.profit.max()]['original_title'].iloc[0]

# 7. Какой фильм самый убыточный?

In [141]:
answers['7'] = data[data.profit == data.profit.min()]['original_title'].iloc[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [142]:
answers['8'] = len(data[data.profit > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [143]:
filtered_data = data[data.release_year == 2008]
answers['9'] = filtered_data[filtered_data.revenue == filtered_data.revenue.max()]['original_title'].iloc[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [144]:
filtered_data = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
answers['10'] = filtered_data[filtered_data.profit == filtered_data.profit.min()]['original_title'].iloc[0]

# 11. Какого жанра фильмов больше всего?

In [145]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11 = normalise_genres(data)
answers['11'] = data11.genres.value_counts().head(1).index[0]

ВАРИАНТ 2

In [146]:
data11 = normalise_genres(data)
answers['11'] = data11.groupby('genres').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [147]:
data12 = normalise_genres(data)
answers['12'] = data12.query('profit > 0').groupby('genres').count()['imdb_id'].sort_values(ascending=False).index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [148]:
answers['13'] = data.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [149]:
data14 = normalise_directors(normalise_genres(data))
answers['14'] = data14[data14.genres == 'Action'].groupby('director')['imdb_id'].count().sort_values(ascending=False).index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [150]:
data15 = normalise_actors(data)
answers['15'] = data15[data15.release_year == 2012].groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [151]:
data16 = normalise_actors(data)
answers['16'] = data16[data16.budget > data16.budget.mean()].groupby('cast').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [152]:
data17 = normalise_actors(normalise_genres(data))
answers['17'] = data17[data17.cast == 'Nicolas Cage'].groupby('genres').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [153]:
data18 = normalise_production_companies(data)
answers['18'] = data18[data18.production_companies == 'Paramount Pictures'].sort_values(by=['profit'])['original_title'].iloc[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [154]:
answers['19'] = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [155]:
data20 = normalise_production_companies(data)
answers['20'] = data20[data20.production_companies.str.startswith('Warner Bros')].groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [156]:
answers['21'] = data.groupby('release_month').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [157]:
data22 = data.groupby('release_month').count()
answers['22'] = sum([data22.iloc[i]['imdb_id'] for i in range(5, 8)])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [158]:
data23 = normalise_directors(data)
answers['23'] = data23[data23.release_month.isin([12, 1, 2])].groupby('director').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [159]:
data24 = normalise_production_companies(data)
data24['title_length'] = data24['original_title'].str.len()
answers['24'] = data24.groupby('production_companies')['title_length'].mean().sort_values(ascending=False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [160]:
data25 = normalise_production_companies(data)
data25['word_count'] = data24['overview'].str.count(' ') + 1
answers['25'] = data25.groupby('production_companies')['word_count'].mean().sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [161]:
quantile99 = data['vote_average'].quantile(0.99)
answers['26'] = data[data.vote_average > quantile99].sort_values(by='vote_average', ascending=False)['original_title'].values.tolist()

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [162]:
def make_pairs(cast):
    actors = cast.split('|')
    actors.sort()
    
    count = len(actors)
    
    pairs = []
 
    if count > 1:
        for i in range(0, count - 1):
            for j in range(i + 1, count):
                pairs.append(f"{actors[i]}|{actors[j]}")
    return pairs
    

def normalise_movies(movies):
    result = movies.copy()
    result['pairs'] = result.cast.apply(lambda p: make_pairs(p))
    result = result.explode('pairs')
    return result
    
data27 = normalise_movies(data).groupby('pairs').count().sort_values(by=['imdb_id'], ascending=False)
pairs = list(data27[data27.imdb_id == data27.imdb_id.max()].reset_index()['pairs'])
answers['27'] = list(set('|'.join(pairs).split('|')))

# Submission

In [163]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight',
  'Inside Out',
  'Room',
  'Interstellar',
  'The Imitation Game',
  'Guardians of the Galaxy',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': ['Daniel Radcliffe', 'Emma Watson', 'Rupert Grint']}

In [164]:
# и убедиться что ни чего не пропустил)
len(answers)

27