In [684]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [685]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
95,tt3203606,15000000,8235661,Trumbo,Bryan Cranston|Diane Lane|Helen Mirren|Elle Fa...,Jay Roach,Are you now or have you ever been...,The career of screenwriter Dalton Trumbo is ha...,124,Drama,Groundswell Productions|Inimitable Pictures|Sh...,10/27/2015,7.2,2015
816,tt0472181,110000000,563749323,The Smurfs,Neil Patrick Harris|Jayma Mays|Anton Yelchin|H...,Raja Gosnell,Smurf Happens.,When the evil wizard Gargamel chases the tiny ...,103,Animation|Family|Adventure|Comedy|Fantasy,Columbia Pictures|Sony Pictures Animation|Kern...,7/29/2011,5.5,2011
753,tt1464540,50000000,144492830,I Am Number Four,Alex Pettyfer|Timothy Olyphant|Teresa Palmer|D...,D.J. Caruso,Three like him have already been killedâ€¦he i...,A teenage fugitive with an incredible secret r...,109,Action|Thriller|Science Fiction|Adventure,DreamWorks SKG|Reliance BIG Entertainment|Bay ...,2/18/2011,6.0,2011
486,tt1423894,30000000,8454301,Barney's Version,Paul Giamatti|Dustin Hoffman|Rosamund Pike|Min...,Richard J. Lewis,First he got married. Then he got married agai...,The picaresque and touching story of the polit...,134,Comedy|Drama,Serendipity Point Films,10/26/2010,6.9,2010
1729,tt0442933,70000000,195735876,Beowulf,Ray Winstone|Angelina Jolie|Anthony Hopkins|Ro...,Robert Zemeckis,Evil breeds pain.,"6th-century Scandinavian warrior, Beowulf emba...",115,Animation|Fantasy,Paramount Pictures|Shangri-La Entertainment|Im...,11/5/2007,5.4,2007

In [686]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [687]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

def split(movies, field):
    result = movies.copy()
    result[field] = result[field].str.split('|')
    result = result.explode(field)
    return result

def normalise_genres(movies):
    return split(movies, 'genres')

def normalise_actors(movies):
    return split(movies, 'cast')

def normalise_directors(movies):
    return split(movies, 'director')

def normalise_production_companies(movies):
    return split(movies, 'production_companies')

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['release_date']  = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [688]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [689]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [690]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], ascending=False).head(1)['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [691]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

ВАРИАНТ 1

In [692]:
data[data.runtime == data.runtime.max()]['original_title'].iloc[0]

'Gods and Generals'

ВАРИАНТ 2

In [693]:
data.sort_values(by=['runtime'], ascending=False).head(1)['original_title'].iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

ВАРИАНТ 1

In [694]:
answers['3'] = data[data.runtime == data.runtime.min()]['original_title'].iloc[0]

ВАРИАНТ 2

In [695]:
answers['3'] = data.sort_values(by=['runtime']).head(1)['original_title'].iloc[0]

# 4. Какова средняя длительность фильмов?

In [696]:
answers['4'] = round(data.runtime.mean(), 0)

# 5. Каково медианное значение длительности фильмов?

In [697]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [698]:
answers['6'] = data[data.profit == data.profit.max()]['original_title'].iloc[0]

# 7. Какой фильм самый убыточный?

In [699]:
answers['7'] = data[data.profit == data.profit.min()]['original_title'].iloc[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [700]:
answers['8'] = len(data[data.profit > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [701]:
filtered_data = data[data.release_year == 2008]
answers['9'] = filtered_data[filtered_data.revenue == filtered_data.revenue.max()]['original_title'].iloc[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [702]:
filtered_data = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
answers['10'] = filtered_data[filtered_data.profit == filtered_data.profit.min()]['original_title'].iloc[0]

# 11. Какого жанра фильмов больше всего?

In [703]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11 = normalise_genres(data)
answers['11'] = data11.genres.value_counts().head(1).index[0]

ВАРИАНТ 2

In [704]:
data11 = normalise_genres(data)
answers['11'] = data11.groupby('genres').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [705]:
data12 = normalise_genres(data)
answers['12'] = data12.query('profit > 0').groupby('genres').count()['imdb_id'].sort_values(ascending=False).index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [706]:
answers['13'] = data.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [707]:
data14 = normalise_directors(normalise_genres(data))
answers['14'] = data14[data14.genres == 'Action'].groupby('director')['imdb_id'].count().sort_values(ascending=False).index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [708]:
data15 = normalise_actors(data)
answers['15'] = data15[data15.release_year == 2012].groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [709]:
data16 = normalise_actors(data)
answers['16'] = data16[data16.budget > data16.budget.mean()].groupby('cast').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [710]:
data17 = normalise_actors(normalise_genres(data))
answers['17'] = data17[data17.cast == 'Nicolas Cage'].groupby('genres').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [711]:
data18 = normalise_production_companies(data)
answers['18'] = data18[data18.production_companies == 'Paramount Pictures'].sort_values(by=['profit'])['original_title'].iloc[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [712]:
answers['19'] = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [713]:
data20 = normalise_production_companies(data)
answers['20'] = data20[data20.production_companies.str.startswith('Warner Bros')].groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [714]:
answers['21'] = data.groupby('release_month').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [715]:
data22 = data.groupby('release_month').count()
answers['22'] = sum([data22.iloc[i]['imdb_id'] for i in range(5, 8)])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [716]:
data23 = normalise_directors(data)
answers['23'] = data23[data23.release_month.isin([12, 1, 2])].groupby('director').count().sort_values(by=['imdb_id'], ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [717]:
data24 = normalise_production_companies(data)
data24['title_length'] = data24['original_title'].str.len()
answers['24'] = data24.groupby('production_companies')['title_length'].mean().sort_values(ascending=False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [718]:
data25 = normalise_production_companies(data)
data25['word_count'] = data24['overview'].str.count(' ') + 1
answers['25'] = data25.groupby('production_companies')['word_count'].mean().sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [719]:
quantile99 = data['vote_average'].quantile(0.99)
answers['26'] = data[data.vote_average > quantile99].sort_values(by='vote_average', ascending=False)['original_title'].values.tolist()

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [722]:
data27 = normalise_actors(data)

# Submission

In [720]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight',
  'Inside Out',
  'Room',
  'Interstellar',
  'The Imitation Game',
  'Guardians of the Galaxy',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento']}

In [721]:
# и убедиться что ни чего не пропустил)
len(answers)

26